<!-- food section -->

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Product
            </h2>
        </div>
        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".TY001">Soap</li>
            <li data-filter=".TY002">Candle</li>
            <li data-filter=".TY003">Oil</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                {{#each products}}
                    <div class="col-sm-6 col-lg-4 all {{Category}}">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <a href="/product/:{{ProductID}}"><img src="/images/{{Image}}"  alt="Image"></a>
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ProductName}}
                                    </h5>
                                    <p>
                                        {{Description}}
                                    </p>

                                    <div class="options">
                                        <h6>
                                            ${{Price}}
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="custom-pagination">
            <ul class="pagination">

                <!--          <li class="page-item"><a class="page-link" href="?page="{{page-1}}>Previous</a></li>-->
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                <li class="page-item"><a class="page-link" href="?page=6">6</a></li>
                <!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
        </div>
    </div>
</section>

<!-- end food section -->